<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Study Title</key>
	<string>Spinekeeper</string>
	<key>Team Name</key>
	<string>Back Track Team</string>
	<key>Email</key>
	<string>contact@kshah5@mail.sfsu.edu</string>
	<key>Phone</key>
	<string>628-209-9506</string>
	<key>Copyright</key>
	<string>Made in Collaboration with Stanford ❤️</string>
	<key>Website</key>
	<string>https://cardinalkit.org</string>
	<key>Tint Color</key>
	<string>#b6133f</string>
	<key>Primary Color</key>
	<string>#ff3961</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the Developer Health Research Study.</string>
	<key>Consent File Name</key>
	<string>My Consent Form</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completion Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completion Step Text</key>
	<string>Thank you for joining this study.</string>
	<key>Failed Login Title</key>
	<string>Unable to Login 😔</string>
	<key>Failed Login Text</key>
	<string>Please try again in five minutes.</string>
	<key>Health Permissions Title</key>
	<string>Health Data</string>
	<key>Health Permissions Text</key>
	<string>On the next screen, you will be prompted to grant access to read and write some of your general and health information, such as height, weight, and steps taken so you don&apos;t have to enter it again.</string>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Login Step Title</key>
	<string>Almost done!</string>
	<key>Login Step Text</key>
	<string>We need to confirm your email address and send you a copy of the consent you just signed.</string>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from the study will reset the app to the state it was in prior to you originally joining the study.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for your contribution to this study. We are sorry that you could not continue. The app will now close.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>Research Health Study Consent Form</string>
	<key>HealthKit Data to Read</key>
	<array>
		<string>StepCount</string>
		<string>DistanceWalkingRunning</string>
		<string>FlightsClimbed</string>
		<string>HeartRate</string>
	</array>
	<key>Consent Form</key>
	<dict>
		<key>Overview</key>
		<string>This simple walkthrough will explain the research study, the impact it may have on your life and will allow you to provide your consent to participate.This month long study will ask you to perform tasks and respond to surveys on a daily basis.</string>
		<key>Data Gathering</key>
		<string>his study will also gather sensor and health data from your iOS devices with your permission. Collected data may allow researchers, as well as you, to understand patterns and details about back health.</string>
		<key>Privacy</key>
		<string>Your data will be encrypted and sent to a secure database, with your name replaced by a random code.</string>
		<key>Data Use</key>
		<string>Your coded study data will be used for research by Stanford and may be shared with other researchers approved by Stanford.</string>
		<key>Time Commitment</key>
		<string>Your participation in this study will take a few minutes per day for one month. You can continue to use the app afterwards to further learn about and improve your back health.</string>
		<key>Study Survey</key>
		<string>Some of the tasks in this study will require you to answer survey questions about your health and lifestyle.</string>
		<key>Study Tasks</key>
		<string>We will ask you to complete active tasks that may require physical activity.</string>
		<key>Withdrawing</key>
		<string>You may withdraw your consent and discontinue participation at any time.</string>
		<key>Potential Benefits</key>
		<string>The information collected by this study may help you better understand and monitor your back health.</string>
		<key>Issues to Consider</key>
		<string>If some questions make you uncomfortable, you can skip them. Participating in this study may change how you feel. You may feel more tired, sad, energized, or happy.</string>
	</dict>
	<key>Onboarding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Health Track App</string>
			<key>Description</key>
			<string>Hellloooooooooo</string>
			<key>Logo</key>
			<string>🏥</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Second Title</string>
			<key>Description</key>
			<string>Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</string>
			<key>Logo</key>
			<string>🏥</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Third Title</string>
			<key>Description</key>
			<string>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</string>
			<key>Logo</key>
			<string>🏥</string>
		</dict>
	</array>
</dict>
</plist>
